*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}
/* OUTER WHITE CARD */
.main-container{
    width:96%;
    height:95vh;
    background:white;
    padding:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}


/* INNER CONTAINER */
.container{
    width:100%;
    height:100%;
    display:flex;
    border-radius:30px;
    overflow:hidden;
}

/* LEFT SIDE */
.left{
    width:60%;
    background:#f7c800;
    position:relative;
    padding:50px 80px;
}
/* RIGHT SIDE */
.right{
    width:40%;
    background:#f4ebc9;
    position:relative;
}

/* LOGO */
.logo{
    width:150px;
    position:absolute;
    top:40px;
    left:50px;
    transform:rotate(-6deg);
}

/* TEXT CONTENT */
.text-content{
    position:absolute;
    top:220px;
    left:80px;
}

/* SMALL TITLE */
.small-title{
    font-size:16px;
    font-weight:600;

    letter-spacing:8px;

    text-transform:uppercase;
}
/* MAIN TITLE */
.main-title{
    font-size:110px;
    font-weight:800;
    line-height:1.2;
    margin:20px 0;
}

/* DESCRIPTION */
.description{
    width:500px;
    font-size:20px;
    line-height:1.7;
    color:#222;
}

/* COUNTER */
.counter{
    margin-top:50px;
    display:flex;
    align-items:center;
    gap:20px;
    font-size:22px;
    font-weight:700;
}

/* LINE */
.line{
    width:30px;
    height:3px;
    background:black;
}

/* POKEBALL */
.pokeball{
    width:200px;
    height:200px;
    border-radius:50%;
    border:18px solid rgba(0,0,0,.08);
    position:absolute;
    left: 180px;
    bottom:-80px;
}
/* MENU */
.menu{
    position:absolute;

    top:40px;
    right:50px;

    font-size:42px;
    font-weight:bold;
}

/* PIKACHU */
.pikachu{
    width:700px;
    position:absolute;
    left:-260px;
    top:120px;
}

/* DOTS */
.dots{
    position:absolute;

    right:40px;
    top:50%;

    transform:translateY(-50%);

    display:flex;
    flex-direction:column;

    gap:20px;
}

/* DOT */
.dots span{
    width:14px;
    height:14px;

    border-radius:50%;

    background:#f7c800;
}

/* ACTIVE DOT */
.dots .active{
    background:black;
}
