*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,body{
    width:100%;
    height:100%;
    background:#f2f2f2;
}

main{
    width:100%;
    height:100vh;
    background-color: rgb(24, 24, 24);

    display:grid;

    grid-template-columns: 1fr 1fr 1fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    gap:14px;
    padding:14px;

    grid-template-areas:
    "top-left top-center1 top-center2 top-right"
    "top-left center center top-right"
    "left-center center center bottom-right"
    "bottom-left bottom-left bottom-center bottom-right";
}


.top-left,
.top-center1,
.top-center2,
.top-right,
.left-center,
.center,
.bottom-left,
.bottom-center,
.bottom-right{
    border-radius:28px;
    overflow:hidden;
}


.top-left{
    grid-area:top-left;
    position:relative;
    background:#111;
}

.top-left1{
    width:100%;
    height:100%;
}

.top-left1 img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.top-left2{
    position:absolute;
    left:16px;
    right:16px;
    bottom:16px;

    display:flex;
    gap:10px;
}

.tracker1,
.tracker2,
.tracker3{
    flex:1;

    background:rgba(0,0,0,0.75);

    backdrop-filter:blur(10px);

    border-radius:16px;

    padding:10px;

    display:flex;
    align-items:center;
    gap:8px;

    color:#fff;
}

.tracker1 div,
.tracker2 div,
.tracker3 div{
    width:38px;
    height:38px;

    border-radius:50%;

    background:#ffe000;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#000;
    font-size:17px;

    flex-shrink:0;
}

.tracker1 p,
.tracker2 p,
.tracker3 p{
    font-size:10px;
    line-height:1.2;
}

.tracker1 strong,
.tracker2 strong,
.tracker3 strong{
    font-size:18px;
}


.top-center1{
    grid-area:top-center1;
    background:#ffe000;

    padding:28px;

    position:relative;
}

.wifi i{
    font-size:1.5rem;
    top: 2px;
}

.text1{
    margin-top:18px;
}

.text1 h4{
    font-size:1rem;
    line-height:1.08;
    font-weight:700;
    width:90%;
}

.icons{
    left:28px;
    bottom: 10px;
    display:flex;
    gap:18px;
    margin-bottom:20px;
    margin-left: -10px;
}

.icons img{
    width:230px;

}

/* ================= TOP CENTER 2 ================= */

.top-center2{
    grid-area:top-center2;

    background:#f5f5f5;

    padding:28px;

    position:relative;
}

.text2 p{
    font-size:10px;
}

.text3{
    margin-top:18px;
}

.text3 h4{
    font-size:1.5rem;
    line-height:1.05;
    font-weight:900;

    margin-bottom:40px;
}

.text3 p{
    font-size:10px;
    margin-top: -25px;
}

.text3 h5{
    font-size:1.5em;
    font-weight:300;
}

.bar{
    position:absolute;
    left:28px;
    bottom:18px;
}

.bar img{
    width:85%;
}

/* ================= TOP RIGHT ================= */

.top-right{
    grid-area:top-right;

    background:#f5f5f5;

    padding:28px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo3{
    display:flex;
    align-items:center;
    gap:7px;
}

.black,
.yellow{
    width:18px;
    height:18px;
}

.black{
    background:#000;
}

.yellow{
    background:#ffe000;
}

.logo3 p{
    font-size:14px;
    font-weight:700;
}

.text4 h1{
    font-size:2rem;
    line-height:1.05;
    font-weight:700px;
    letter-spacing:-2px;
}

.top-right-bottom{
    background:#f7c9c4;

    border-radius:22px;

    padding:22px;
}

.location{
    display:flex;
    align-items:center;
    gap:16px;

    margin-bottom:35px;
}

.loction-icon{
    width:56px;
    height:56px;

    border-radius:50%;

    background:#000;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#ffe000;
    font-size:22px;
}

.text5 p{
    font-size:1.1rem;
    line-height:1.2;
}

.top-right-bottom h3{
    font-size:1.8rem;
    font-weight:800;
}

/* ================= LEFT CENTER ================= */

.left-center{
    grid-area:left-center;

    background:#f5f5f5;

    padding: 25px;  

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.text6 h2{
    font-size:20px;
    line-height:1.4;
    font-weight:900;
}

.logo4{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo4 img{
    width:58px;
    margin: -10px;
}

.text7 h1{
    font-size:15px;
    line-height:1.4;
}

/* ================= CENTER ================= */

.center{
    grid-area:center;

    background:#f5f3e8;

    display:flex;
    align-items:center;
    justify-content:left;
}

.center1{
    display:flex;
    align-items:center;
    gap: -10px;
}

.center2 img{
    width:300px;
}

.center3 h1{
    font-size:7rem;
    font-weight:900;
    margin-bottom:18px;
    letter-spacing:-4px;
}

/* ================= BOTTOM LEFT ================= */

.bottom-left{
    grid-area:bottom-left;

    background:#f7cfc9;

    display:flex;
}

.left-section{
    width:42%;
    position:relative;
}

.girl-img{
    width:100%;
    height:100%;
    border-radius:28px;
    padding:18px;
    object-fit:cover;
}

.visit-btn{
    position:absolute;

    left:18px;
    bottom:18px;

    background:rgba(0,0,0,0.65);

    backdrop-filter:blur(5px);

    color:#fff;

    padding:15px 22px;

    border-radius:20px;

    display:flex;
    align-items:center;
    gap:10px;
}

.arrow{
    font-size:26px;
}

.visit-btn span:last-child{
    font-size:19px;
}

.right-section{
    width:58%;

    padding:26px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.right-section h3{
    font-size:1rem;
    line-height:1;
    font-weight:900;
}

.bottom-content{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.bottom-content h1{
    font-size:3rem;
    line-height:1;
}

.bottom-content p{
    font-size:16px;
}

.trainers{
    display:flex;
    align-items:center;
}

.trainers img{
    width:56px;
    height:56px;

    border-radius:50%;

    object-fit:cover;

    border:4px solid #f7cfc9;

    margin-left:-12px;
}

.trainers img:first-child{
    margin-left:0;
}

/* ================= BOTTOM CENTER ================= */

.bottom-center{
    grid-area:bottom-center;

    background:#ffe000;

    position:relative;
}

.bottom-center img{
    position:absolute;
    bottom:-8px;
    left:50%;
    transform:translateX(-50%);

    width:110%;
    height:110%;

    object-fit:contain;
}

/* ================= BOTTOM RIGHT ================= */

.bottom-right{
    grid-area:bottom-right;

    background:#f7c9c4;

    padding:18px;

    position:relative;

    display:flex;
    flex-direction:column;
}

.mobile-top{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:14px;
}

.mobile-logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.mobile-logo img{
    width:36px;
}

.mobile-logo p{
    font-size:1.6rem;
    font-weight:600;
}

.mobile-top span{
    font-size:1.6rem;
}

.mobile-image{
    flex:1;

    border-radius:28px;

    overflow:hidden;
}

.mobile-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.mobile-overlay{
    position:absolute;

    left:28px;
    bottom:32px;

    color:#fff;
}

.mobile-overlay h1{
    font-size:2.1rem;
    line-height:1;
    font-weight:900;

    margin-bottom:18px;
}

.mobile-overlay button{
    border:none;

    background:#ffe000;

    padding:14px 34px;

    border-radius:40px;

    font-size:1rem;
    font-weight:800;
}